doctype 5
html
  head
    title nCoder
    link(rel='stylesheet', href='/css/bootstrap.css')
    style
      body {
        background: #428bca;
        color: #fff;
      }
  body
    div
      .container
        h1 Thank you
        br
        p for subscription, we'll get back to you as site is up 
        p
          a(href='/') Home
        br
        h3 - Team nCoder